<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'main' %>

</head>
<body>
<script src="hello_world.js"/>
<script src="doesn_nothing.js"/>



<%= yield %>

</body>
</html>
